In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
name = ["MOhan", "dash","karam","chandra","gandhi","bapu"]

In [ ]:
name.insert(0,"freedom_fightors")

In [ ]:
name

['freedom_fightors', 'MOhan', 'dash', 'karam', 'chandra', 'gandhi', 'bapu']

In [ ]:
name = ["freedomFighter","bapuji","MOhan","dash","karam","chandra","gandhi"]

In [ ]:
length1 = len((name[-len(name)+1:-1:2]))
length1

3

in this code first i calculate the len(name) then run the inner function that is name[-6:-1:2] which gives the value bapuji , dash , chandra and they are tuple comprehension and the calculate the length od this tupple

In [ ]:
length2 = len((name[-len(name)+1:-1]))
length2

5

same as the above but in this it take the names from bapuji to chandra bcz in this code the no of step count is by default 1

In [ ]:
name.append("netaji")

In [ ]:
name.append("bose")

In [ ]:
name

['freedomFighter',
 'bapuji',
 'MOhan',
 'dash',
 'karam',
 'chandra',
 'gandhi',
 'netaji',
 'bose']

In [ ]:
name = ["bapuji","dash","karam","karam","chandar","gandhi","mohan"]
temp = name[-1]
name[-1]=name[0]
name[0]=temp
temp

'mohan'

the value of temp is "mohan"

Ques 1.4

In [ ]:
animal = ["human","cat","mat","cat","rat","human","lion"]

In [ ]:
print(animal.count("human"))

2

In [ ]:
print(animal.index("rat"))

4

In [ ]:
print(len(animal))

7

Ques 1.5

In [ ]:
tuple1 = (10,20,"apple",3.4,"a",["master","ji"],("seeta","geeta",22),[{"roll_no":1},{"name":"navneet"}])

In [ ]:
print(len(tuple1))

8

In [ ]:
print(tuple1[-1][-1]["name"])

navneet

In [ ]:
print(tuple1[-1][-2]["roll_no"])

1

In [ ]:
print(tuple1[-3][1])

ji

In [ ]:
print(tuple1[-2][-1])

22

Ques 1.6

In [ ]:
def show_message(color):
    if color == "red":
        print("stop")
    elif color == "yellow":
        print("stay")
    else:
        print("go")

In [ ]:
x = input("enter the colour")
show_message(x)

enter the colourred
stop

Ques 1.7

In [ ]:
def calculate(a,b,operation):
  if operation == "+":
    return a+b
  elif operation == "-":
    return a-b
  elif operation == "*":
    return a*b
  elif operation == "/":
    return a/b
  else:
    return "invalid operation"

In [ ]:
a = int(input("enter the first operand"))
b = int(input("enter the second operand"))
operation = input("enter the operation")
x = calculate(a,b,operation)
print(x)

enter the first operand34
enter the second operand56
enter the operation+
90

Ques 1.8

In [ ]:
def find_greater(a,b,c):
    if a>b & b>c:
        return a
    elif b>a & b>c:
        return b
    else :
        return c

In [ ]:
find_greater(45,70,90)

90

Ques 1.9

In [ ]:
def find_factor(x):
    i = 1
    factor = []
    while i < (x+1):
        if x%i == 0:
            factor.append(i)
        i=i+1
    return factor

In [ ]:
number = int(input("enter the number"))
find_factor(number)

enter the number15

[1, 3, 5, 15]

Ques 1.10

In [ ]:
total_sum = 0
while True:
    number = int(input("Enter a positive integer (or a negative number to stop): "))
    if number < 0:
        break
    total_sum += number
print(f"The sum of all positive integers entered is: {total_sum}")

Enter a positive integer (or a negative number to stop): 5
Enter a positive integer (or a negative number to stop): 7
Enter a positive integer (or a negative number to stop): 9
Enter a positive integer (or a negative number to stop): -1
The sum of all positive integers entered is: 21

Ques 1.11

In [ ]:
x = 100
for i in range (2,x+1):
  for n in range (2,i):
    if i%n == 0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Ques 1.12

In [ ]:
marks =[]
for i in range (1,6):
  mark = int(input(f"enter the marks of {i} subject"))
  marks.append(mark)
for i in range (1,6):
  print(f"the marks of {i} subject is {marks[i-1]}")

enter the marks of 1 subject80
enter the marks of 2 subject78
enter the marks of 3 subject75
enter the marks of 4 subject89
enter the marks of 5 subject77
the marks of 1 subject is 80
the marks of 2 subject is 78
the marks of 3 subject is 75
the marks of 4 subject is 89
the marks of 5 subject is 77

In [ ]:
def percentage(marks):
  total_marks = sum(marks)
  percentage = (total_marks/500)*100
  return percentage

In [ ]:
percentage(marks)

79.80000000000001

In [ ]:
def grades(percentage):
  if percentage >= 85:
    return "A"
  elif (percentage >= 75 & percentage <85):
    return "B"
  elif (percentage >= 50 & percentage <75):
    return "C"
  elif (percentage < 50 & percentage >30):
    return "D"
  else :
    return "reappear"

In [ ]:
grades(80)

'B'

Ques 1.13

In [ ]:
def colour(wavelength):
  if (wavelength >= 400.0 and wavelength < 440.0):
    return "Violet"
  elif (wavelength >= 440.0 and wavelength < 460.0):
    return "Indigo"
  elif (wavelength >= 460.0 and wavelength < 500.0):
    return "Blue"
  elif (wavelength >= 500.0 and wavelength < 570.0):
    return "Green"
  elif (wavelength >= 570.0 and wavelength < 590.0):
    return "Yellow"
  elif (wavelength >=590.0 and wavelength <620.0):
    return "Orange"
  elif (wavelength >=620.0 and wavelength <720.0):
    return "Red"

In [ ]:
wavelength = float(input("enter the wavelength"))
colour(wavelength)

enter the wavelength560.6

'Green'

Ques 1.14

In [ ]:
mass_of_earth = 5.972*10**24
mass_of_moon = 7.348*10**22
mass_of_sun = 1.989*10**3
distance_earth_sun = 1.496*10**9
distance_moon_earth = 3.844*10**6
gravitational_constant = 6.674*10**-11

In [ ]:
def force_of_gravity_earth_sun(mass_of_earth,mass_of_sun,distance_earth_sun,gravitational_constant):
  force = gravitational_constant*(mass_of_earth*mass_of_sun)/distance_earth_sun**2
  return force

In [ ]:
force_earth_sun = force_of_gravity_earth_sun(mass_of_earth,mass_of_sun,distance_earth_sun,gravitational_constant)

In [ ]:
force_earth_sun

0.3542236855858046

In [ ]:
def force_of_gravity_earth_moon(mass_of_earth,mass_of_moon,distance_moon_earth,gravitational_constant):
  force = gravitational_constant*(mass_of_earth*mass_of_moon)/distance_moon_earth**2
  return force

In [ ]:
force_earth_moon = force_of_gravity_earth_moon(mass_of_earth,mass_of_moon,distance_moon_earth,gravitational_constant)

In [ ]:
force_earth_moon

1.9820216361078957e+24

In [ ]:
def compare_forces(force_earth_sun,force_earth_moon):
  if force_earth_sun > force_earth_moon:
    return "Earth is stronger"
  elif force_earth_sun < force_earth_moon:
    return "Moon is stronger"

In [ ]:
compare_forces(force_earth_sun,force_earth_moon)

'Moon is stronger'

the eath and moon attract each other with same gravitational force

Ques 2

In [ ]:
class student:
  def __init__(self,name,roll_no,age):
    self.__name = name
    self.__roll_no = roll_no
    self.__age = age
  def get_name(self):
      return self.__name
  def get_roll_no(self):
      return self.__roll_no
  def get_age(self):
      return self.__age
  def set_name(self,name):
      self.__name = name
  def set_roll_no(self,roll_no):
      self.__roll_no = roll_no
  def set_age(self,age):
      self.__age = age
  def get_details(self):
      print(f"the name of the student is {self.__name}")
      print(f"the roll no of the student is {self.__roll_no}")
      print(f"the age of the student is {self.__age}")
  def update_details(self,name=None,roll_no = None, age = None):
      if name is not None:
        self.set_name( name )
      if roll_no is not None:
        self.set_roll_no(roll_no )
      if age is not None:
        self.set_age(age)

In [ ]:
student1 = student("navneet",12,20)

In [ ]:
student1.get_details()

the name of the student is navneet
the roll no of the student is 12
the age of the student is 20

In [ ]:
student1.update_details(name = "Tushar jangra",age = 20)

In [ ]:
student1.get_details()

the name of the student is Tushar jangra
the roll no of the student is 12
the age of the student is 20

Ques 3

In [ ]:
class LibraryBooks:
  Books = {}
  def __init__(self,books_name,author):
    self.__book_name = books_name
    self.__author = author
    self.__available_status = True
  def display_information(self):
    status = "available" if self.__available_status is True else "not available"
    print(f"the name of the book is {self.__book_name}")
    print(f"the author of the book is {self.__author}")
    print(f"the status of the book is {status}")
  def borrow_book(self):
    if self.__available_status is True:
      self.__available_status = False
      print(f"you have successfully borrowed {self.__book_name} by {self.__author}")
    else :
      print(f"sorry {self.__book_name} by {self.__author} is not available")
  def return_book(self):
    if self.__available_status is False:
      self.__available_status = True
      print(f"you have successfully returned {self.__book_name} by {self.__author}")
    else :
      print(f"sorry {self.__book_name} by {self.__author} is already available")

In [ ]:
book1 = LibraryBooks("1984","George Orwell")
book1.display_information()

the name of the book is 1984
the author of the book is George Orwell
the status of the book is available

In [ ]:
book1.borrow_book()

you have successfully borrowed 1984 by George Orwell

In [ ]:
book1.borrow_book()

sorry 1984 by George Orwell is not available

In [ ]:
book1.return_book()

you have successfully returned 1984 by George Orwell

In [ ]:
book1.borrow_book()

you have successfully borrowed 1984 by George Orwell

Ques 4

In [ ]:
class acount:
  def __init__(self,acount_number,balance):
    self._acount_number = acount_number
    self._balance = balance
  def get_balance(self):
    return self._balance
  def deposit(self,amount):
    self._balance += amount
    print(f"deposite sucessfull with amount {amount} your current balance is {self._balance}")
  def withdraw(self,amount):
    if amount <= self._balance:
      self._balance -= amount
      print(f"withdrawl sucessfull with amount {amount} your current balance is {self._balance}")
    else:
      print("insufficient balance")

In [ ]:
class saving_account(acount):
  def __init__(self,acount_number,balance):
    print("this is a saving account")
    super().__init__(acount_number,balance)
class checking_account(acount):
  def __init__(self,acount_number,balance):
    print("this is a checking account")
    super().__init__(acount_number,balance)

In [ ]:
acc1 = saving_account("AB12345HR12",10000)

this is a saving account

In [ ]:
acc1.get_balance()

10000

In [ ]:
acc1.deposit(5000)

deposite sucessfull with amount 5000 your current balance is 15000

In [ ]:
acc1.withdraw(2000)

withdrawl sucessfull with amount 2000 your current balance is 13000

In [ ]:
acc2 = checking_account("AB12345HR12",10000)

this is a checking account

In [ ]:
acc2.get_balance()

10000

In [ ]:
acc2.deposit(5000)

deposite sucessfull with amount 5000 your current balance is 15000

In [ ]:
acc2.withdraw(8000)

withdrawl sucessfull with amount 8000 your current balance is 7000

Ques 5

In [ ]:
class animal:
  def make_sound(self,sound):
    print("animal sound")
class dog(animal):
  def make_sound(self):
    print("dog barks")
class cat(animal):
  def make_sound(self):
    print("cat meows")

In [ ]:
animal1 = dog()
animal1.make_sound()

dog barks

Ques 6

In [ ]:
class menuitem:
  def __init__(self,name,description,price,category,unique_identifier):
    self.name = name
    self.description = description
    self.price = price
    self.category = category
    self._unique_identifier = unique_identifier
    self.menu_card = {}
    self.unique_identity = {}
    self.menu_card[self.name] = [self.description,self.price,self.category]
    self.unique_identity[self.name] = self._unique_identifier
  def add_item(self,name,description,price,category,unique_identifier):
    self.menu_card[name] = [name,description,price,category]
    self.unique_identity[self.name] = self._unique_identifier
  def remove_item(self,name):
    self.menu_card.pop[name]
  def get_menu_card(self):
    return self.menu_card

In [ ]:
class fooditem(menuitem):
  def __init__(self,name,description,price,category,unique_identifier):
    self.order = []
    print("welcome to my restro here you get only food items not brevages")
    super().__init__(name,description,price,category,unique_identifier)
  def make_order(self):
    while True:
      ordre_item = input("enter the name of item you order else say NO to stop the order")
      if ordre_item == "NO":
        break
      else:
        self.order.append(ordre_item)
    return self.order
  def get_order_details(self):
      return self.order

In [ ]:
class brevagesitem(menuitem):
  def __init__(self,name,description,price,category,unique_identifier):
    self.order = []
    print("welcome to my restro here you get only brevages")
    super().__init__(name,description,price,category,unique_identifier)
  def make_order(self):
    while True:
      ordre_item = input("enter the name of item you order else say NO to stop the order")
      if ordre_item == "NO":
        break
      else:
        self.order.append(ordre_item)
    return self.order
  def get_order_details(self):
      return self.order

In [ ]:
restro1 = fooditem("Burger","it contains a potato fries slice and breed","50","fast food","abc001")

welcome to my restro here you get only food items not brevages

In [ ]:
restro1.add_item("pizza","it contains breed base cover with layer of chess and veggies and origanos and lots of more spices","180","fast food","abc002")

In [ ]:
restro1.add_item("chowmeen","noodles category","100","fast food","abc003")

In [ ]:
restro1.add_item("momos","maida k bnte h :)","100","fast food","abc004")

In [ ]:
restro1.get_menu_card()

{'Burger': ['it contains a potato fries slice and breed', '50', 'fast food'],
 'pizza': ['pizza',
  'it contains breed base cover with layer of chess and veggies and origanos and lots of more spices',
  '180',
  'fast food'],
 'chowmeen': ['chowmeen', 'noodles category', '100', 'fast food'],
 'momos': ['momos', 'maida k bnte h :)', '100', 'fast food']}

In [ ]:
restro1.make_order()

enter the name of item you order else say NO to stop the orderpizza
enter the name of item you order else say NO to stop the orderburger
enter the name of item you order else say NO to stop the orderNO

['pizza', 'burger']

In [ ]:
restro1.get_order_details()

['pizza', 'burger']

In [ ]:
restro2 = brevagesitem("coffe","hot coffee containing coco powder, coffee and suger and hot milk",50,"brevage","abc001")

welcome to my restro here you get only brevages

In [ ]:
restro2.add_item("cold coffee","coffee with ice cubes ,cold milk and mixed with chocklate","80","brevage","abc002")

In [ ]:
restro2.add_item("capachino","category of hot coffee",120,"brevage","abc003")

In [ ]:
restro2.get_menu_card()

{'coffe': ['hot coffee containing coco powder, coffee and suger and hot milk',
  50,
  'brevage'],
 'cold coffee': ['cold coffee',
  'coffee with ice cubes ,cold milk and mixed with chocklate',
  '80',
  'brevage'],
 'capachino': ['capachino', 'category of hot coffee', 120, 'brevage']}

In [ ]:
restro2.make_order()

enter the name of item you order else say NO to stop the orderCOFFEE
enter the name of item you order else say NO to stop the ordercold coffee
enter the name of item you order else say NO to stop the orderNO

['COFFEE', 'cold coffee']

In [ ]:
restro2.get_menu_card()

{'coffe': ['hot coffee containing coco powder, coffee and suger and hot milk',
  50,
  'brevage'],
 'cold coffee': ['cold coffee',
  'coffee with ice cubes ,cold milk and mixed with chocklate',
  '80',
  'brevage'],
 'capachino': ['capachino', 'category of hot coffee', 120, 'brevage']}

Ques 7

In [ ]:
class hotel:
  def __init__(self,room_no,room_type,price_per_night):
    self.__room_no = room_no
    self.room_type = room_type
    self.price_per_night = price_per_night
    self.__availablity = True
  def book_room(self):
    if self.__availablity is True:
      self.__availablity = False
      print(f"room no {self.__room_no} is ready to book for you")
    else:
      print(f"room no {self.__room_no} is already booked")
  def check_in(self):
        if self.__availablity == False:
            print(f"Guest has checked into room {self.__room_no}.")
        else:
            print(f"Room {self.__room_no} is not booked yet. Please book the room first.")
  def check_out(self):
        if self.__availablity == True:
            self.__availablity = True
            print(f"Guest has checked out of room {self.__room_no}. Room is now available.")
        else:
            print(f"Room {self.__room_no} is already available.")
  def get_room_number(self):
        return self.__room_no

  def is_available(self):
        return self.__availablity

In [ ]:
room1 = hotel(101,"delux dubble",1000)

In [ ]:
room1.get_room_number()

101

In [ ]:
room1.is_available()

True

In [ ]:
room1.book_room()

room no 101 is ready to book for you

In [ ]:
room1.check_in()

Guest has checked into room 101.

In [ ]:
class SuiteRoom(hotel):
    def __init__(self, room_no, room_type,price_per_night, has_jacuzzi):
        super().__init__(room_no, room_type, price_per_night)
        self.has_jacuzzi = has_jacuzzi
        print("This is suit room class")

    def book_room(self):
        if self.is_available() is True:
            super().book_room()
            print("Enjoy your luxurious suite!")
        else:
            print(f"Suite room {self.get_room_number()} is already booked.")

In [ ]:
room2 = SuiteRoom(102,"delux dubble",1000,True)

This is suit room class

In [ ]:
room2.book_room()

room no 102 is ready to book for you
Enjoy your luxurious suite!

In [ ]:
class StandardRoom(hotel):
    def __init__(self, room_no,room_type,price_per_night, has_tv):
        super().__init__(room_no,room_type,price_per_night)
        self.has_tv = has_tv
        print("This is standard room class")

    def book_room(self):
        if self.is_available() == True:
            super().book_room()
            print("Enjoy your standard room!")
        else:
            print(f"Standard room {self.get_room_number()} is already booked.")

In [ ]:
room3 = StandardRoom(103,"delux dubble",1000,True)

This is standard room class

In [ ]:
room3.book_room()

room no 103 is ready to book for you
Enjoy your standard room!

Ques 8

In [ ]:
class member:
  def __init__(self,name,age,membership_type,id_number):
    self.name = name
    self.age = age
    self.membership_type = membership_type
    self.__id_number = id_number
    self.__membership_status = True
  def get_membership_status(self):
    return self.__membership_status
  def update_membership_status(self,status):
    self.__membership_status = status
  def get_id_number(self):
    return self.__id_number

In [ ]:
member1 = member("navneet",20,"golden","abc@123")

In [ ]:
member1.get_membership_status()

True

In [ ]:
member1.update_membership_status(False)

In [ ]:
member1.get_membership_status()

False

In [ ]:
class FamilyMember(member):
    def __init__(self,name , age ,membership_type,id_number, family_size):
        super().__init__(name , age ,membership_type,id_number)
        self.family_size = family_size

    def register_member(self):
        #super().register_member()
        print(f"Family membership for {self.name} with family size {self.family_size} registered successfully.")

In [ ]:
member2 = FamilyMember("navneet",20,"golden","abc@123",5)

In [ ]:
member2.register_member()

Family membership for navneet with family size 5 registered successfully.

In [ ]:
class individualmember(member):
  def __init__(self,name , age ,membership_type,id_number,personal_trainer):
      super().__init__(name , age ,membership_type,id_number)
      self.personal_trainer = personal_trainer
  def register_member(self):
    print(f"Individual membership for {self.name} with personal trainer {self.personal_trainer} registered successfully.")

In [ ]:
member3 = individualmember("navneet",20,"golden","abc@123","ranvir")

In [ ]:
member3.register_member()

Individual membership for navneet with personal trainer ranvir registered successfully.

Ques 9

In [ ]:
class event:
  def __init__(self,name,date,time,location,attendees):
    self.name = name
    self.time = time
    self.date = date
    self.location = location
    self.attendees = attendees
    self.__list_of_attendees = []
    for i in self.attendees:
      self.__list_of_attendees.append(i)
  def get_attendees(self):
    return self.__list_of_attendees
  def add_attendees(self,attendees):
    self.__list_of_attendees.append(attendees)
  def remove_attendees(self,attendees):
    self.__list_of_attendees.remove(attendees)
  def get_total_attendees(self):
    return len(self.__list_of_attendees)
  def get_event_details(self):
    print(f"the name of the event is {self.name} and the location is {self.location}")
    print(f"the date of the event is {self.date} and the time is {self.time}")

In [ ]:
event1 = event("folk dance","12 feb 1975","12 AM","delhi",["mahesh","ramesh","suresh","tanmey","ashwin","mohit"])

In [ ]:
event1.get_total_attendees()

6

In [ ]:
event1.add_attendees("nitika")

In [ ]:
event1.add_attendees("golu")

In [ ]:
event1.get_total_attendees()

8

In [ ]:
event1.get_attendees()

['mahesh', 'ramesh', 'suresh', 'tanmey', 'ashwin', 'mohit', 'nitika', 'golu']

In [ ]:
event1.get_event_details()

the name of the event is folk dance and the location is delhi
the date of the event is 12 feb 1975 and the time is 12 AM

In [ ]:
class privateevent(event):
  def __init__(self,name,date,time,location,attendees,organizer):
    super().__init__(name,date,time,location,attendees)
    self.organizer = organizer
  def get_organizer(self):
    return self.organizer

In [ ]:
event2 = privateevent("folk dance","12 feb 1975","12 AM","delhi",["mahesh","ramesh","suresh","tanmey","ashwin","mohit"],"navneet")

In [ ]:
event2.get_organizer()

'navneet'

In [ ]:
class publicevent(event):
  def __init__(self,name,date,time,location,attendees,invited_group):
    super().__init__(name,date,time,location,attendees)
    self.invited_group = invited_group
  def get_invited_group(self):
    return self.invited_group

In [ ]:
event3 = publicevent("folk dance","12 feb 1975","12 AM","delhi",["mahesh","ramesh","suresh","tanmey","ashwin","mohit"],["riyaz musical group"])

In [ ]:
event3.get_invited_group()

['riyaz musical group']

Ques 10

In [ ]:
class flight:
  def __init__(self,flight_number,departure_port,arrival_port,departure_time,arrival_time,seats_available,flight_unique_no):
    self.flight_number = flight_number
    self.departure_port = departure_port
    self.arrival_port = arrival_port
    self.departure_time = departure_time
    self.arrival_time = arrival_time
    self.__seats_available = seats_available
    self.__flight_unique_no = flight_unique_no
  def get_available_seats(self):
    return self.__seats_available
  def get_flight_unique_no(self):
    return self.__flight_unique_no
  def book_seats(self,seats_to_book):
    if seats_to_book <= self.__seats_available and self.__seats_available>0:
      self.__seats_available -= seats_to_book
      print(f"you have successfully booked {seats_to_book} seats for flight {self.flight_number}")
  def cancel_seats(self,seats_to_cancel):
    if seats_to_cancel <= self.__seats_available:
      self.__seats_available += seats_to_cancel
      print(f"you have successfully cancelled {seats_to_cancel} seats for flight {self.flight_number}")
  def get_flight_details(self):
    print(f"the flight number is {self.flight_number}")
    print(f"the departure port is {self.departure_port}")
    print(f"the arrival port is {self.arrival_port}")

In [ ]:
flight1 = flight("1213675abd","india","switzerland","11 AM","07 PM",100,"abc123")

In [ ]:
flight1.get_flight_details()

the flight number is 1213675abd
the departure port is india
the arrival port is switzerland

In [ ]:
flight1.get_available_seats()

100

In [ ]:
flight1.book_seats(15)

you have successfully booked 15 seats for flight 1213675abd

In [ ]:
flight1.cancel_seats(10)

you have successfully cancelled 10 seats for flight 1213675abd

In [ ]:
class domestic_flight(flight):
  def __init__(self,flight_number,departure_port,arrival_port,departure_time,arrival_time,seats_available,flight_unique_no,flight_name):
    super().__init__(flight_number,departure_port,arrival_port,departure_time,arrival_time,seats_available,flight_unique_no)
    self.flight_name = flight_name
    print("this is a domestic flight")
  def get_flight_name(self):
    return self.flight_name

In [ ]:
flight2 = domestic_flight("1213675abd","india","switzerland","11 AM","07 PM",100,"abc123","air india")

this is a domestic flight

In [ ]:
flight2.get_flight_name()

'air india'

In [ ]:
class international_flight(flight):
  def __init__(self,flight_number,departure_port,arrival_port,departure_time,arrival_time,seats_available,flight_unique_no,flight_pilot_name):
    super().__init__(flight_number,departure_port,arrival_port,departure_time,arrival_time,seats_available,flight_unique_no)
    self.flight_pilot_name = flight_pilot_name
    print("this is a international flight")
  def get_flight_pilot_name(self):
    return self.flight_pilot_name

In [ ]:
flight3 = international_flight("1213675abd","india","switzerland","11 AM","07 PM",100,"abc123","navneet")

this is a international flight

In [ ]:
flight3.get_flight_pilot_name()

'navneet'

Ques 12

In [ ]:
#calculator_py.py file
def divide(a,b):
  return a/b
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b

In [ ]:
import calculator_py as c

In [ ]:
c.divide(15,5)

3.0

Ques 11

In [ ]:
#constant_py.py file
pi = 3.14
speed_of_light = 299792458

In [ ]:
import constant_py as con

In [ ]:
con.pi

3.14

In [ ]:
con.speed_of_light

299792458

Ques 13

In [ ]:
#string_utils_py.py file
def reverse_string(s):
    return s[::-1]

def capitalize_string(s):
    return s.title()

In [ ]:
import string_utils_py as s

In [ ]:
s.reverse_string("navneet")

'teenvan'

In [ ]:
s.capitalize_string("rohan")

'Rohan'

In [ ]:
file = open("Myfilr.txt","w")
file.write("this is my first line\n")
file.write("this is my second line\n")
file.write("this is my third line\n")
file.write("this is my fourth line\n")
file.close()

Ques 15

In [ ]:
#file_operation_py.py file
def read_file(file_path):
    try:
        with open(file_path, 'r') as file:
            content = file.read()
        return content
    except FileNotFoundError:
        return "File not found."
def write_file(file_path, data):
    with open(file_path, 'w') as file:
        file.write(data)
    print("Data written to file successfully.")
def write_file(file_path, data):
    with open(file_path, 'w') as file:
        file.write(data)
    print("Data written to file successfully.")

In [ ]:
import file_operation_py as f
if __name__ == "__main__":
    file_path = 'Myfilr.txt'

    # Write data to a file
    result = f.write_file(file_path, "Hello, world!\n")
    print(result)

    # Append data to the file
    result = f.append_file(file_path, "Appending this text.\n")
    print(result)

    # Read data from the file
    content = f.read_file(file_path)
    print(content)

Data written to file successfully.
None
Data appended to file successfully.
None
Hello, world!
Appending this text.

Ques 16

In [ ]:
file = open("employee.txt","w")
file.write("The employee name is navneet\n")
file.write("The employee age is 20\n")
file.write("The employee salary is 100000\n")
file.write("The employee department is IT\n")
file.close()

In [ ]:
file = open("employee.txt","r")
content = file.read()
print(content)
file.close()

The employee name is navneet
The employee age is 20
The employee salary is 100000
The employee department is IT

Ques 17

In [ ]:
file = open("inventory.txt","w")
file.write("The product name is laptop\n")
file.write("The product price is 100000\n")
file.write("The product quantity is 10\n")
file.write("The product category is IT\n")
file.close()

In [ ]:
#read_file_py.py file
def read_file(file_path):
    try:
        with open(file_path, 'r') as file:
            content = file.read()
        return content
    except FileNotFoundError:
        return "File not found."

In [ ]:
import read_file_py as read

In [ ]:
read.read_file("inventory.txt")

'The product name is laptop\nThe product price is 100000\nThe product quantity is 10\nThe product category is IT\n'

Ques 18

In [ ]:
input_file = "expenses.txt"
output_file = "total_expenses.txt"

sample_expenses = [
    15.50,
    22.30,
    10.00,
    5.75
]

# Step 1: Create the expenses.txt file with sample data
with open(input_file, "w", encoding="utf-8") as file:
    for expense in sample_expenses:
        file.write(f"{expense}\n")

print(f"File '{input_file}' has been created with sample expenses.")

# Initialize total amount
total_amount = 0.0

# Step 2: Read the expenses from the input file
try:
    with open(input_file, "r", encoding="utf-8") as file:
        for line in file:
            # Assuming each line contains a numeric value (expense amount)
            try:
                amount = float(line.strip())
                total_amount += amount
            except ValueError:
                print(f"Warning: Skipping invalid amount '{line.strip()}'")

    # Step 3: Write the total amount to the output file
    with open(output_file, "w", encoding="utf-8") as file:
        file.write(f"Total Amount Spent: {total_amount:.2f}")

    print(f"Total amount spent: {total_amount:.2f}")
    print(f"The total has been written to '{output_file}'.")

except FileNotFoundError:
    print(f"The file '{input_file}' does not exist.")

File 'expenses.txt' has been created with sample expenses.
Total amount spent: 53.55
The total has been written to 'total_expenses.txt'.

Ques 19

In [ ]:
from collections import Counter
import re

# Define file names
file_name = "paragraph.txt"

# Sample content to be written to the file
sample_text = """This is a sample paragraph. It contains several words. Some words appear more than once.
The purpose is to test word counting and sorting. Enjoy counting words."""

# Step 1: Create the paragraph.txt file with sample content
with open(file_name, "w", encoding="utf-8") as file:
    file.write(sample_text)

print(f"File '{file_name}' has been created with sample content.")

# Initialize a Counter to hold word counts
word_counter = Counter()

# Step 2: Read the text file and process the words
try:
    with open(file_name, "r", encoding="utf-8") as file:
        for line in file:
            # Use regular expressions to find all words (case-insensitive)
            words = re.findall(r'\b\w+\b', line.lower())
            # Update the counter with the words from the line
            word_counter.update(words)

    # Step 3: Sort the words alphabetically and print the counts
    for word in sorted(word_counter):
        print(f"{word}: {word_counter[word]}")

except FileNotFoundError:
    print(f"The file '{file_name}' does not exist.")

File 'paragraph.txt' has been created with sample content.
a: 1
and: 1
appear: 1
contains: 1
counting: 2
enjoy: 1
is: 2
it: 1
more: 1
once: 1
paragraph: 1
purpose: 1
sample: 1
several: 1
some: 1
sorting: 1
test: 1
than: 1
the: 1
this: 1
to: 1
word: 1
words: 3

Ques 24

In [ ]:
data = {"student" :[1,2,3,4,5,6,7,8,9,10],
            "Accountancy": [45,70,65,30,90,40,50,75,85,60],
            "Statistics":[35,90,70,40,95,40,60,80,80,50]}

In [ ]:
data = pd.DataFrame(data)

In [ ]:
data

   student  Accountancy  Statistics
0        1           45          35
1        2           70          90
2        3           65          70
3        4           30          40
4        5           90          95
5        6           40          40
6        7           50          60
7        8           75          80
8        9           85          80
9       10           60          50

In [ ]:
correlation = data["Accountancy"].corr(data["Statistics"])

In [ ]:
correlation

0.9031178882610624

Ques 26

In [ ]:
correlation_cofficient = 0.8
price_at_agra = 70
price_at_delhi = correlation_cofficient * price_at_agra
price_at_delhi

56.0

Ques 27

In [ ]:
variance_x = 9
regression_eq1 = (8, -10, -66)
regression_eq2 = (40, -18, 214)

A = np.array([[regression_eq1[0], regression_eq1[1]], [regression_eq2[0], regression_eq2[1]]])
B = np.array([-regression_eq1[2], -regression_eq2[2]])

mean_values = np.linalg.solve(A, B)
mean_x, mean_y = mean_values

b_xy = regression_eq1[0] / -regression_eq1[1]
b_yx = regression_eq2[0] / -regression_eq2[1]

r = np.sqrt(b_xy * b_yx)

variance_y = variance_x / (r ** 2)
sigma_y = np.sqrt(variance_y)

print(f"Mean value of x: {mean_x}")
print(f"Mean value of y: {mean_y}")
print(f"Coefficient of correlation (r): {r}")
print(f"Standard deviation of y (_y): {sigma_y}")

Mean value of x: -13.0
Mean value of y: -17.0
Coefficient of correlation (r): 1.3333333333333335
Standard deviation of y (_y): 2.25

Ques 31

In [ ]:
import scipy.stats as stats
mean = 60
std_dev = 10

z1 = (72 - mean) / std_dev
z2 = (50 - mean) / std_dev
z3 = (72 - mean) / std_dev
z4 = (70 - mean) / std_dev
z5 = (80 - mean) / std_dev

p1 = stats.norm.cdf(z1) - stats.norm.cdf(0)
p2 = stats.norm.cdf(0) - stats.norm.cdf(z2)
p3 = 1 - stats.norm.cdf(z3)
p4 = stats.norm.cdf(z5) - stats.norm.cdf(z4)

percent_p1 = p1 * 100
percent_p2 = p2 * 100
percent_p3 = p3 * 100
percent_p4 = p4 * 100

percent_p1, percent_p2, percent_p3, percent_p4

(38.49303297782918, 34.13447460685429, 11.506967022170823, 13.590512198327787)

Ques 32

In [ ]:
mean_marks = 49
std_dev_marks = 6
total_students = 15000

z_55 = (55 - mean_marks) / std_dev_marks
z_70 = (70 - mean_marks) / std_dev_marks

p_55 = 1 - stats.norm.cdf(z_55)
p_70 = 1 - stats.norm.cdf(z_70)

students_more_than_55 = p_55 * total_students
students_more_than_70 = p_70 * total_students

students_more_than_55, students_more_than_70

(2379.8288089718562, 3.4894361855331013)

In [ ]:
Ques 33

In [ ]:
mean_height = 65
std_dev_height = 5
total_students_height = 500

z_60 = (60 - mean_height) / std_dev_height
z_70 = (70 - mean_height) / std_dev_height

p_greater_than_70 = 1 - stats.norm.cdf(z_70)
p_between_60_and_70 = stats.norm.cdf(z_70) - stats.norm.cdf(z_60)

students_greater_than_70 = p_greater_than_70 * total_students_height
students_between_60_and_70 = p_between_60_and_70 * total_students_height

students_greater_than_70, students_between_60_and_70

(79.32762696572854, 341.3447460685429)

Ques 35

In [ ]:
import scipy.stats as stats
n = 25
s = 9.0
sigma_0 = 10.5

chi_square_stat = (n - 1) * (s ** 2) / (sigma_0 ** 2)

df = n - 1

p_value = 2 * min(stats.chi2.cdf(chi_square_stat, df), 1 - stats.chi2.cdf(chi_square_stat, df))

print(f"Chi-square statistic: {chi_square_stat:.4f}")
print(f"Degrees of freedom: {df}")
print(f"P-value: {p_value:.4f}")

Chi-square statistic: 17.6327
Degrees of freedom: 24
P-value: 0.3591

Ques 37

In [ ]:
grades = ['A', 'B', 'C', 'D', 'E']
observed_frequencies = [15, 17, 30, 22, 16]
total_students = 100
expected_frequency = total_students / len(grades)

expected_frequencies = [expected_frequency] * len(grades)

chi_square_stat, p_value = stats.chisquare(f_obs=observed_frequencies, f_exp=expected_frequencies)

print(f"Chi-square statistic: {chi_square_stat:.4f}")
print(f"P-value: {p_value:.4f}")

Chi-square statistic: 7.7000
P-value: 0.1032

Ques 38

In [ ]:
data = {
    'Detergent A': [57, 49, 54],
    'Detergent B': [55, 52, 46],
    'Detergent C': [67, 68, 58]
}

df = pd.DataFrame(data, index=['Cold Water', 'Warm Water', 'Hot Water'])

f_stat, p_value = stats.f_oneway(df['Detergent A'], df['Detergent B'], df['Detergent C'])

print(f"F-statistic: {f_stat:.4f}")
print(f"P-value: {p_value:.4f}")

F-statistic: 6.7438
P-value: 0.0292

Ques 39

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route('/')
def home():
    return "Hello, World!"

if __name__ == '__main__':
    app.run(debug=True)

the ques related to sql an't run on colab something production environment related error generated so i put the code here and dont run the codes to protect from error

Ques 40

In [ ]:
from flask import Flask, request, render_template

app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def form():
    if request.method == 'POST':
        # Get form data
        name = request.form.get('name')
        email = request.form.get('email')
        return f"Received POST request with name={name} and email={email}"
    return '''
        <form method="post">
            Name: <input type="text" name="name"><br>
            Email: <input type="text" name="email"><br>
            <input type="submit" value="Submit">
        </form>
    '''

if __name__ == '__main__':
    app.run(debug=True)

Ques 41

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route('/display/<parameter>')
def display_parameter(parameter):
    return f'<h1>You passed: {parameter}</h1>'

if __name__ == '__main__':
    app.run(debug=True)

Ques 42

In [ ]:
from flask import Flask, render_template, redirect, url_for, flash, request
from flask_login import LoginManager, UserMixin, login_user, login_required, logout_user, current_user
from flask_wtf import FlaskForm
from wtforms import StringField, PasswordField, SubmitField
from wtforms.validators import DataRequired, Length
from werkzeug.security import generate_password_hash, check_password_hash

app = Flask(__name__)
app.config['SECRET_KEY'] = 'your_secret_key'

login_manager = LoginManager()
login_manager.init_app(app)
login_manager.login_view = 'login'

users = {}

class User(UserMixin):
    def __init__(self, id, username, password_hash):
        self.id = id
        self.username = username
        self.password_hash = password_hash

@login_manager.user_loader
def load_user(user_id):
    return users.get(user_id)

class RegistrationForm(FlaskForm):
    username = StringField('Username', validators=[DataRequired(), Length(min=4, max=25)])
    password = PasswordField('Password', validators=[DataRequired(), Length(min=6, max=25)])
    submit = SubmitField('Register')

class LoginForm(FlaskForm):
    username = StringField('Username', validators=[DataRequired()])
    password = PasswordField('Password', validators=[DataRequired()])
    submit = SubmitField('Login')

@app.route('/register', methods=['GET', 'POST'])
def register():
    form = RegistrationForm()
    if form.validate_on_submit():
        username = form.username.data
        password = form.password.data
        password_hash = generate_password_hash(password)
        user_id = str(len(users) + 1)
        users[user_id] = User(user_id, username, password_hash)
        flash('Registration successful!', 'success')
        return redirect(url_for('login'))
    return render_template('register.html', form=form)

@app.route('/login', methods=['GET', 'POST'])
def login():
    form = LoginForm()
    if form.validate_on_submit():
        username = form.username.data
        password = form.password.data
        user = next((u for u in users.values() if u.username == username), None)
        if user and check_password_hash(user.password_hash, password):
            login_user(user)
            flash('Login successful!', 'success')
            return redirect(url_for('dashboard'))
        else:
            flash('Invalid username or password', 'danger')
    return render_template('login.html', form=form)

@app.route('/dashboard')
@login_required
def dashboard():
    return f'Hello, {current_user.username}! Welcome to your dashboard.'

@app.route('/logout')
@login_required
def logout():
    logout_user()
    flash('You have been logged out.', 'success')
    return redirect(url_for('login'))

if __name__ == '__main__':
    app.run(debug=True)

Ques 43

In [ ]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///site.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)

class User(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String(150), unique=True, nullable=False)
    email = db.Column(db.String(120), unique=True, nullable=False)
    password = db.Column(db.String(60), nullable=False)

    def __repr__(self):
        return f"User('{self.username}', '{self.email}')"

@app.route('/')
def home():
    return "Hello, Flask with SQLite and SQLAlchemy!"

if __name__ == '__main__':
    app.run(debug=True)

Ques 44

In [ ]:
from flask import Flask, jsonify, request

app = Flask(__name__)

# Sample data
users = [
    {"id": 1, "name": "John Doe", "email": "john@example.com"},
    {"id": 2, "name": "Jane Smith", "email": "jane@example.com"},
]

@app.route('/api/users', methods=['GET'])
def get_users():
    return jsonify(users)

@app.route('/api/users/<int:user_id>', methods=['GET'])
def get_user(user_id):
    user = next((user for user in users if user["id"] == user_id), None)
    if user:
        return jsonify(user)
    else:
        return jsonify({"error": "User not found"}), 404

@app.route('/api/users', methods=['POST'])
def add_user():
    new_user = request.get_json()
    new_user['id'] = users[-1]['id'] + 1 if users else 1
    users.append(new_user)
    return jsonify(new_user), 201

@app.route('/api/users/<int:user_id>', methods=['PUT'])
def update_user(user_id):
    user = next((user for user in users if user["id"] == user_id), None)
    if user:
        data = request.get_json()
        user.update(data)
        return jsonify(user)
    else:
        return jsonify({"error": "User not found"}), 404

@app.route('/api/users/<int:user_id>', methods=['DELETE'])
def delete_user(user_id):
    global users
    users = [user for user in users if user["id"] != user_id]
    return jsonify({"message": "User deleted"}), 200

if __name__ == '__main__':
    app.run(debug=True)

Ques 45

In [ ]:
from flask import Flask, render_template, redirect, url_for, flash
from flask_wtf import FlaskForm
from wtforms import StringField, PasswordField, SubmitField
from wtforms.validators import DataRequired, Length, Email, EqualTo

app = Flask(__name__)
app.config['SECRET_KEY'] = 'your_secret_key'

class RegistrationForm(FlaskForm):
    username = StringField('Username', validators=[DataRequired(), Length(min=2, max=20)])
    email = StringField('Email', validators=[DataRequired(), Email()])
    password = PasswordField('Password', validators=[DataRequired()])
    confirm_password = PasswordField('Confirm Password', validators=[DataRequired(), EqualTo('password')])
    submit = SubmitField('Sign Up')

@app.route('/register', methods=['GET', 'POST'])
def register():
    form = RegistrationForm()
    if form.validate_on_submit():
        flash(f'Account created for {form.username.data}!', 'success')
        return redirect(url_for('home'))
    return render_template('register.html', form=form)

@app.route('/')
def home():
    return "Hello, Flask-WTF!"

if __name__ == '__main__':
    app.run(debug=True)

In [ ]:
pip install pandas mysql-connector-python

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)